<nav class="navbar">
  <div class="navbar-logo">
    <img src="/assets/images/5.jpg" alt="Logo">
  </div>
  <div class="navbar-toggle" onclick="toggleNavbar()">
    <div class="toggle-icon"></div>
    <div class="toggle-icon"></div>
    <div class="toggle-icon"></div>
  </div>
  <ul class="navbar-menu" id="navbarMenu">
    <li> <a class="nav-link" routerLink="/activetasks">Active Tasks</a></li>
    <li> <a class="nav-link" routerLink="/deactivetasks">Deactive Tasks</a></li>
  </ul>
</nav>
<br>

      <div class="text-center">
        <p>Welcome to the cool website!</p>
      </div>
    

<router-outlet></router-outlet>
